.navbar-brand{
    cursor: default;
}

.nav-link{
    cursor: pointer;
}

.logout-btn{
    background-color: transparent;
    border: 0;
    color: white;
    font-size: initial;
}

.logout-btn:active {
    border:0 !important;
}