<div *ngIf="movie" class="d-flex flex-column flex-wrap p-1 p-lg-5 justify-content-center">

<!-- MOVIE -->
<div class="d-flex flex-row flex-wrap justify-content-center">

    <!-- PHOTO 50%-->
    <div class="movie-cover-img w-50">
        <img style="width:100%;height: 100%;" class="movie-cover-img" [src]="createImgPath(movie.coverImgPath)" alt=""> 
   </div>

   <!-- DATA 25%-->
   <div class="d-flex flex-column ml-3 ml-lg-5 w-25 data-part">
        <h2>{{movie.title}}</h2>
        <p>{{movie.releaseDate}}</p>
        <p>{{movie.description}}</p>
        <bar-rating [(rate)]="movie.avgRating" [max]="5" [theme]="'stars'" [readOnly]="true"></bar-rating>

   </div>

</div>

 <!-- ACTORS -->
<div *ngIf="movie.actors" class="d-flex flex-row flex-wrap justify-content-center mt-2 mt-lg-4">
        <div *ngFor="let actor of movie.actors" class="d-flex flex-column ml-2 mt-3 w-25" style="cursor: pointer;" [routerLink]="['/actor/detail',actor.id]">
            <p class="text-primary mb-1 text-center">{{actor.name}}</p>
            <img class="w-100" [src]="createImgPath(actor.profileImgPath)"/>
        </div>
    </div>

</div>