.movie-description{
    height: 150px;
    overflow: hidden;
}

.movie-cover-img{
    cursor: pointer;
    margin:0px;
}


/* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .movie-cover-img{
        width: 150px !important;
        height: 150px !important;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .movie-cover-img{
        width: 250px !important;
        height: 300px !important;
    }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .movie-cover-img{
        width: 320px !important;
        height: 370px !important;
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .movie-cover-img{
        width: 350px !important;
        height: 350px !important;
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .movie-cover-img{
        width: 400px !important;
        height: 400px !important;
    }
}


// // Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { 
    
    
    
//  }

// // Small devices (landscape phones, less than 768px)
// @media (min-width: 767.98px) { 


//  }

// // Medium devices (tablets, less than 992px)
// @media (min-width: 991.98px) { 


//  }

// // Large devices (desktops, less than 1200px)
// @media (min-width: 1199.98px) { 
    

//  }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { 


//  }